/* .nav-link-custom {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px; Adjust based on your design 
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link-custom:hover,
  .nav-link-custom:focus,
  .nav-link-custom.active {
    color: blue !important;
  }
  
  .nav-link-custom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link-custom:hover::after,
  .nav-link-custom:focus::after,
  .nav-link-custom.active::after {
    width: 100%;
  }
  */
  
  .bg-body-tertiary {
    position: relative; /* Ensure proper stacking context */
    z-index: 2; /* Navbar is above the sidebar */
    background-color: #4169e1; /* Set the background color */
  }

  .navbar {
    position: relative;
    z-index: 2;
  }

  .navbar-custom {
    background-color: #4169e1;
}

  .nav-link-custom {
    color: rgba(225, 225, 225, 0.767) !important;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px; 
    /* Adjust based on your design */
    transition: color 0.3s ease-in-out;

    z-index: 2; /* Ensure navbar is above the sidebar */
    position: relative; /* Make sure navbar is positioned relative for z-index to take effect */
  }
  
  .nav-link-custom:hover,
  .nav-link-custom:focus {
    color: white !important;
  }
  
  .nav-link-custom.active {
    color: white    !important;
    font-weight: bolder;
  }
  
  .nav-link-custom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;

    /* background-color: blue; */
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link-custom.active::after {
    width: 100%;
  }